@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
	scroll-behavior: smooth;
	will-change: scroll-position;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.glass-effect {
	background: rgba(255, 255, 255, 0.2);
	background-attachment: fixed;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}